In [5]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [16]:
emp=pd.Series(['uma','siva','sindhu','ravi'])
id=pd.Series([10,20,30,40])
frame={'emp':emp,'id':id}
result=pd.DataFrame(frame)
print("\n series in data frames \n")
print(result)

 series in data frames

      emp  id
0     uma  10
1    siva  20
2  sindhu  30
3    ravi  40

In [15]:
emp=pd.Series(['uma','siva','sindhu','ravi'])
id=pd.Series([10,20,30,40])
frame={'emp':emp,'id':id}
result=pd.DataFrame(frame)
print("\n extracting one columnn \n")
print(result['emp'])

 extracting one columnn

0       uma
1      siva
2    sindhu
3      ravi
Name: emp, dtype: object

In [18]:
emp=pd.Series(['uma','siva','sindhu','ravi'])
id=pd.Series([10,20,30,40])
frame={'emp':emp,'id':id}
result=pd.DataFrame(frame)

result['age']=pd.Series([20,25,30,50])
print(result)

      emp  id  age
0     uma  10   20
1    siva  20   25
2  sindhu  30   30
3    ravi  40   50

In [21]:
emp=pd.Series(['uma','siva','sindhu','ravi'])
id=pd.Series([10,20,30,40])
frame={'emp':emp,'id':id}
result=pd.DataFrame(frame)


result['age']=pd.Series([20,25,30,50])
del result['age']
print(result)

      emp  id
0     uma  10
1    siva  20
2  sindhu  30
3    ravi  40

In [25]:
print(" \nextarcting a row :\n ",result.loc[1])

extarcting a row :
  emp    siva
id       20
Name: 1, dtype: object

In [23]:
print(" slice row : \n ",result[1:3])

 slice row :
        emp  id
1    siva  20
2  sindhu  30

In [31]:
emp=pd.Series(['uma','siva','sindhu','ravi'])
id=pd.Series([10,20,30,40])
frame={'emp':emp,'id':id}
result=pd.DataFrame(frame)



d2=pd.DataFrame([['anu',20],['jim',19]],columns=['emp','id'])
print("adding of a new value \n ",pd.concat([result,d2]))

adding of a new value
        emp  id
0     uma  10
1    siva  20
2  sindhu  30
3    ravi  40
0     anu  20
1     jim  19

In [ ]:
print("result")